/*
/*/
!/sources/Core/src/
!/sources/Core/.gitignore
!/sources/Core/build.gradle
!/sources/Core/gradle.properties
!/sources/Core/LICENSE
!/sources/Core/README.md

!/sources/Fabric-1.20/src/
!/sources/Fabric-1.20/build.gradle
!/sources/Fabric-1.20/gradle.properties

!/sources/Forge-1.20/src/
!/sources/Forge-1.20/build.gradle
!/sources/Forge-1.20/gradle.properties

!/sources/Forge-1.20.6/src/
!/sources/Forge-1.20.6/build.gradle
!/sources/Forge-1.20.6/gradle.properties

!/sources/NeoForge-1.20.2/src/
!/sources/NeoForge-1.20.2/build.gradle
!/sources/NeoForge-1.20.2/gradle.properties

!/sources/NeoForge-1.21.5/src/
!/sources/NeoForge-1.21.5/build.gradle
!/sources/NeoForge-1.21.5/gradle.properties

!/sources/NeoForge-1.21.9/src/
!/sources/NeoForge-1.21.9/build.gradle
!/sources/NeoForge-1.21.9/gradle.properties
!/gradlew.bat
!/gradlew
!/build.gradle
!/.gitignore
!/.gitmodules
!/changelog.html
!/gradle/
!/README.md
!/LICENSE
!/.github/
!/settings.gradle
!/gradle.properties